<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mon panier</title>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/281/281729.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/foundation.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome-x.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toast/jquery.toast.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/httpHelpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='toast/jquery.toast.js') }}"></script>
</head>
<body>

{% include 'top-bar.html' %}

<h2 class="text-center">
    {{ user.cart_count }} éléments dans le panier
</h2>
<h3 class="text-center">
    Total : {{ totalPrice }}$
    {% if user.cart_count > 0 %}
        <div class="grid-x grid-padding-x">
            <div class="medium-4 medium-offset-4 small-12">
                <a href="{{ url_for('cart.confirm_buy') }}"
                   class="button expanded success">Confirmer les achats</a>
            </div>
        </div>
    {% endif %}
</h3>

<hr/>

{% if user.cart_count > 0 %}
    {% for itemDesc in items %}
        {% set item = itemDesc['item'] %}
        <div class="grid-x grid-padding-x callout secondary">
            <div class="medium-2 small-12">
                <a href="{{ url_for('items.index_item', item_id=item.itemId) }}">
                    <img src="{{ item.previewLocation }}" class="image-width-100-percent"/>
                </a>
                <a onclick="removeFromCart('{{ url_for('cart.remove_from_cart', item_id=item.itemId) }}')"
                   class="button expanded alert">Supprimer du panier</a>
            </div>
            <div class="medium-10 padding small-12">
                <h4>{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <p>{{ itemDesc['priceDetails'] }}$</p>

            </div>
        </div>
    {% endfor %}
{% else %}
    <h2 class="text-center">
        Aucun item dans le panier
    </h2>
{% endif %}

<hr/>

<h3 class="text-center">
    {% if user.cart_count > 0 %}
        <div class="grid-x grid-padding-x">
            <div class="medium-4 medium-offset-4 small-12">
                <a href="{{ url_for('cart.confirm_buy') }}"
                   class="button expanded success">Confirmer les achats</a>
            </div>
        </div>
    {% endif %}
    Total : {{ totalPrice }}$

</h3>
<h2 class="text-center">
    {{ user.cart_count }} éléments dans le panier
</h2>
{% include 'footer.html' %}

</body>
</html>

<script>
    $(document).foundation();

</script>