<footer class="large secondary footer dark-footer">
    <article class="grid-container">
        <div class="grid-x">
            <div class="large-4 cell large-offset-4 text-center">
                <h4 class="font-weight-bold">Créateurs</h4>
                <div>Sunny Pelletier - 111 156 686</div>
                <div>Olivier Précourt - 111 154 571</div>
                <div>Jules Caron - 111 158 104</div>
                <div><img class="footer-img" src="{{ url_for('static', filename='img/logo.png')}}"/></div>
            </div>
        </div>
    </article>
</footer>

<script>
</script>
