<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jikijki - Menu principal</title>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/281/281729.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/foundation.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome-x.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toast/jquery.toast.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/httpHelpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='toast/jquery.toast.js') }}"></script>
</head>
<body>

{% include 'top-bar.html' %}

<div class="orbit" role="region" aria-label="showreel" data-orbit
     data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
    <ul class="orbit-container">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
        {% for img in banner %}
        <li class="is-active orbit-slide">
            <img class="orbit-image" src="{{ img['url']}}" alt="Space">
            <figcaption class="orbit-caption">{{ img['text'] }}</figcaption>
        </li>
        {% endfor %}
    </ul>
    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span
                class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
</div>

<br>

<hr/>
<div class="text-center">
    <h2>Nouveaux items</h2>
</div>
<hr/>

<article class="grid-container">

    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
        {% for item in recent %}
            <div class="cell">
                <a href="{{ url_for('items.index_item',item_id = item.itemId) }}"><img class="image-row-300"
                                                                                       src="{{ item.previewLocation }}"/></a>
                <h5 class="overflow-ellipsis">{{ item.name }}</h5>
                <p>{{ item.priceDisplay }}$</p>
                <a onclick="addToCart('{{ url_for('cart.add_to_cart', item_id=item.itemId) }}')"
                   class="button expanded">Ajouter au
                    panier</a>
            </div>
        {% endfor %}
    </div>


    <hr/>
    <div class="text-center">
        <h2>Items dans la catégorie '{{ chosen_category.value[1] }}'</h2>
    </div>
    <hr/>
    <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-6">
        {% for item in category %}
            <div class="cell">
                <a href="{{ url_for('items.index_item',item_id = item.itemId) }}"><img class="image-row-200"
                                                                                       src="{{ item.previewLocation }}"></a>
                <h5 class="overflow-ellipsis">{{ item.name }}</h5>
                <p>{{ item.priceDisplay }}$</p>
                <a onclick="addToCart('{{ url_for('cart.add_to_cart', item_id=item.itemId) }}')"
                   class="button expanded">Ajouter au
                    panier</a>
            </div>
        {% endfor %}
    </div>

    <hr/>
    <div class="text-center">
        <h2>Produits populaires</h2>
    </div>
    <hr/>
    <div class="grid-x grid-padding-x align-bottom">

        {% for item in popular %}
            <div class="medium-6 cell">

                <div class="media-object">
                    <div class="media-object-section">
                        <a href="{{ url_for('items.index_item',item_id = item.itemId) }}"><img class="image-row-100"
                                                                                               src="{{ item.previewLocation }}"/></a>
                    </div>
                    <div class="media-object-section">
                        <h5>{{ item.name }}</h5>
                        <p>{{ item.priceDisplay }}$</p>
                    </div>
                </div>
                <a onclick="addToCart('{{ url_for('cart.add_to_cart', item_id=item.itemId) }}')"
                   class="button expanded">Ajouter au
                    panier</a>
            </div>
        {% endfor %}
    </div>
</article>
<br>

{% include 'footer.html' %}

</body>
</html>

<script>
    $(document).foundation();
</script>