<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Objet</title>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/281/281729.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/foundation.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome-x.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toast/jquery.toast.css') }}"/>


    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/httpHelpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/httpHelpers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/commons.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='toast/jquery.toast.js') }}"></script>
</head>
<body>

{% include 'top-bar.html' %}

<h1 class="padding font-weight-bold">
    {{ item.name }}
</h1>
<h1 class="padding"> {{ item.category.value[1] }}</h1>
<div class="grid-x padding">
    <div class="medium-3 small-12">
        <img class="image-width-100-percent" src="{{ item.previewLocation }}"/>
        <a href="#" onclick="addToCart('{{ url_for('cart.add_to_cart', item_id=item.itemId) }}')" class="button
        expanded">
            Ajouter au panier
        </a>
    </div>
    <div class="medium-9 small-12 font-regular padding">
        {{ item.description }}
        <p>{{ item.priceDisplay }}$</p>
    </div>
</div>

<br/>

{% if item.canComment and user.is_authenticated %}
    <div id="comment">
        <h2 class="padding">Ajouter un commentaire</h2>
        <div class="star-bar" id="star-counter">
            <img onclick="setStar(0)"
                 src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
            <img onclick="setStar(1)"
                 src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
            <img onclick="setStar(2)"
                 src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
            <img onclick="setStar(3)"
                 src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
            <img onclick="setStar(4)"
                 src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
        </div>
        <div class="grid-x">
            <div class="cell small-10">
                <textarea id="comment-text" class="responsive-textarea" rows="3"
                          placeholder="Saisir un commentaire"></textarea>
            </div>
            <div class="cell small-2">
                <button class="button expanded max-height" onclick="sendComment()"><span
                        class="fa fa-send font-big"></span></button>
            </div>
        </div>
    </div>
{% endif %}


<div>
    <h2 class="padding">Commentaires</h2>

    <div class="grid-x">
        {% if item.reviews|length > 0 %}
            {% for review in item.reviews %}
                <div class="small-12 medium-6 callout secondary">
                    <label class="font-big font-weight-bold">{{ review.username }}</label>
                    <div>{{ review.date }}</div>
                    <div class="star-bar">
                        {% for i in range(review.stars) %}
                            <img src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
                        {% endfor %}
                    </div>
                    <p> {{ review.comment }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div class="font-regular white-text padding">
                Aucun commentaire
            </div>
        {% endif %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>

<script>
    var stars = 5;
    var url = "http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png";
    var unusedStarUrl = "https://i.pinimg.com/originals/b7/f0/37/b7f0378e9ef17dbe58f6115e1fbe8540.jpg";
    $(document).foundation();
    $(document).ready(function () {
        var parent = $('#star-counter');
        parent.children().each(function (index, value) {
            value.onmouseenter = function () {
                setStar(index, true);
            }


        });
        parent.mouseleave(function () {
            setStar(stars - 1, true);
        });
    });

    function sendComment() {
        var text = $('#comment-text').val()
        httpPut('{{ url_for('items.insert_review', item_id=item.itemId) }}', {
            stars: stars,
            text: text
        }, function () {
            window.location.reload()
        });
    }

    function setStar(id, doNotSet) {
        if (!doNotSet) {
            stars = id + 1;
        }
        var parent = $('#star-counter');

        parent.children().each(function (index, value) {
            if (index <= id) {
                value.setAttribute('src', url);
            } else {
                value.setAttribute('src', unusedStarUrl);
            }
        });
    }
</script>