<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mes commandes</title>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/281/281729.png">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/vendor/foundation.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='font-awesome/css/font-awesome-x.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}"/>

    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/jquery-3.3.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/foundation.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/vendor/what-input.js')}}"></script>
</head>
<body>

{% include 'top-bar.html' %}

<h2>
    Mes commandes
</h2>

{% if nbOfOrders > 0 %}
    {% for order in orders %}
        <div style="background-color:grey;">
            <h4 data-toggle="order{{order.orderId}}">Commande {{ order.orderId }}: achat de {{ order.nbOfItem }} items pour un total de {{ order.total }}$ <span class="fa fa-sort"></span></h4>
            <div id="order{{order.orderId}}" style="display: none;" data-toggler=".hide" data-animate="fade-in fade-out">
                {% for item in order.items %}
                    <div class="grid-x grid-padding-x callout secondary">
                        <div class="medium-2 small-12">
                            <a href="{{ url_for('items.index_item', item_id=item.fullItem.itemId) }}">
                                <img src="{{ item.fullItem.previewLocation }}" class="image-width-100-percent"/>
                            </a>
                        </div>
                        <div class="medium-10 padding small-12">
                            <h4>{{ item.fullItem.name }}</h4>
                            <p>{{ item.fullItem.description }}</p>
                            <p>{{ item.fullItem.priceDisplay }}$</p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% else %}
    <h2 class="text-center">
        Aucune commande en cours
    </h2>
{% endif %}



{% include 'footer.html' %}

</body>
</html>

<script>
    $(document).foundation();
</script>