<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menu principal</title>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/281/281729.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/foundation.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome-x.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
</head>
<body>

{% include 'top-bar.html' %}

<h1>
    Résultats de recherche pour '{{ text }}'
</h1>
<h2>
    {{ results|length }} résultats
</h2>
{% for item in results %}
    <div class="grid-x grid-padding-x callout secondary">
        <div class="medium-1">
            <a href="{{ url_for('items.index_item', item_id=item.itemId) }}">
                <img src="{{ item.previewLocation }}" class="image-width-100-percent"/>
            </a>
        </div>
        <div class="medium-11 padding">
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <div class="star-bar">
                {% for i in range(item.stars) %}
                    <img src="http://www.pngpix.com/wp-content/uploads/2016/11/PNGPIX-COM-Star-Vector-PNG-Transparent-Image-500x481.png"/>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}

{% include 'footer.html' %}

</body>
</html>

<script>
    $(document).foundation();
</script>