<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mes items en vente</title>

    <link rel="icon" href="https://image.flaticon.com/icons/png/512/281/281729.png">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/vendor/foundation.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='font-awesome/css/font-awesome-x.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
</head>
<body>

{% include 'top-bar.html' %}
<h2 class="text-center">Vendre un item</h2>
<div class="grid-container">
    {% if form %}
        {% if form.errors %}
            <ul class="alert alert-danger" style="color:red">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</div>

<form method=POST enctype=multipart/form-data action="{{ url_for('sellItem.uploadItem') }}">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="medium-4 cell">
                <label>Nom de l'item
                    <input name="itemName" type="text" value="{{ form.itemName.data }}" placeholder="Nom">
                </label>
            </div>
            <div class="medium-4 cell">
                <label>Catégorie
                    <select name="itemCategory">
                        {% for category in categories %}
                            {% if category.value[1] == form.itemCategory.data %}
                                <option value="{{ category.value[1] }}" selected>{{ category.value[1] }}</option>
                            {% endif %}
                            <option value="{{ category.value[1] }}">{{ category.value[1] }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="medium-4 cell">
                <label>
                    Prix
                    <input name="itemPrice" type="number" step="0.01" value="{{ form.itemPrice.data }}">
                </label>
            </div>
            <div class="medium-8 cell">
                <label>
                    Description
                    <textarea name="itemDescription" placeholder="Description de l'item..." rows="8">{{ form.itemDescription.data }}</textarea>
                </label>
            </div>
            <div class="medium-4 cell">
                <label>
                    Image
                </label>
                <img id="imgPreview" height="200" width="200"
                     src="https://camo.githubusercontent.com/f8ea5eab7494f955e90f60abc1d13f2ce2c2e540/68747470733a2f2f662e636c6f75642e6769746875622e636f6d2f6173736574732f323037383234352f3235393331332f35653833313336322d386362612d313165322d383435332d6536626439353663383961342e706e67">
            </div>
            <div class="medium-2 cell">
                <label for="imgInput" class="button">Charger une image</label>
                <input id="imgInput" name="itemImage" type="file" accept="image/*" class="show-for-sr"
                       onchange="previewImage()">
            </div>
            <div>
                <label for="submit" class="button">Soumettre l'item</label>
                <input type="submit" id="submit" class="show-for-sr">
            </div>
        </div>
    </div>
</form>
<h2 class="text-center">
    {{ user_items|length }} items en vente
</h2>

<hr/>

{% if user_items|length > 0 %}
    {% for item in user_items %}
        <div class="grid-x grid-padding-x callout secondary">
            <div class="medium-2 small-12">
                <a href="{{ url_for('items.index_item', item_id=item.itemId) }}">
                    <img src="{{ item.previewLocation }}" class="image-width-100-percent"/>
                </a>
            </div>
            <div class="medium-10 padding small-12">
                <h4>{{ item.name }}</h4>
                <p>{{ item.description }}</p>
                <p><b> {{ item.priceDisplay }}$</b></p>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h2 class="text-center">
        Aucun item en vente
    </h2>
{% endif %}

<hr/>
{% include 'footer.html' %}

</body>
</html>
<style>
    label {
        color: white;
        font-weight: bold;
    }
</style>

<script>
    $(document).foundation();

    function previewImage() {
        imgInput = document.getElementById('imgInput');
        if (imgInput.files && imgInput.files[0]) {
            var fileRead = new FileReader();
            fileRead.onload = function (e) {
                $('#imgPreview').attr('src', e.target.result);
            };
            fileRead.readAsDataURL(imgInput.files[0]);
        }
    }
</script>