<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="mainNavigation" data-hide-for="medium">
    <div class="title-bar-left">
        <button class="menu-icon" type="button" data-toggle="mainNavigation"></button>
        <div class="title-bar-title">Menu</div>
    </div>
    <div class="title-bar-right">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}"/></a>
    </div>
</div>

<div class="top-bar" id="mainNavigation">
    <div class="top-bar-left">
        <ul class="menu vertical medium-horizontal">
            <li class="menu-text hide-for-small-only"><a href="{{ url_for('index') }}"><img
                    src="{{ url_for('static', filename='img/logo.png') }}"/></a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu dropdown" data-dropdown-menu>
            <li>
                <form class="input-group" action="{{ url_for('search.index_search') }}" method="post">
                    <input class="input-group-field" type="search" placeholder="Rechercher un item" name="search">
                    <div class="input-group-button">
                        <button class="button"><span class="fa fa-search"></span></button>
                    </div>
                </form>
            </li>
            <li>
                <a href="#"><span class="fa fa-list icon"></span> Magasiner par catégories</a>
                <ul class="menu vertical">
                    {% for category in categories %}
                        <li><a href="{{ url_for('search.search_by_category', category=category.value[0]) }}"><span
                                class="fa icon {{ category.value[2] }}"></span> {{ category.value[1] }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% if not user.is_anonymous and user.is_authenticated %}
                <li><a href="{{ url_for('cart.index_cart') }}"><span class="fa icon fa-shopping-cart"></span> <span id="my-cart">Mon panier ({{  user.cart_count }})</span></a>
                </li>
                <li>
                    <a href="#"><span class="fa icon fa-user"></span> {{ user.firstName + ' '+ user.lastName }} </a>
                    <ul class="menu vertical">
                        <li><a href="{{ url_for('settings.index_settings') }}"><span class="fa icon fa-cog"></span>
                            Paramètres</a></li>
                        <li><a href="{{ url_for('orders.index_orders') }}"><span class="fa icon fa-truck"></span> Mes
                            commandes</a></li>
                         <li><a href="{{ url_for('sellItem.index_sell_item') }}"><span class="fa icon fa-plus-circle"></span>
                            Vendre un item</a></li>
                        <li><a href="{{ url_for('login.logout') }}"><span class="fa icon fa-sign-out"></span>
                            Déconnexion</a></li>
                    </ul>

                </li>
            {% else %}
                <li><a href="{{ url_for('login.index_login') }}"><span class="fa icon fa-user"></span> Se connecter </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
<!-- End Top Bar -->
