body {
    background-color: #242424;
    color: white;
}

hr {
    height: 1px;
}

textarea {
    resize: none;
}
.responsive-textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
}

.max-height {
    height: 100%;
}

.padding {
    padding: 10px;
}

.font-regular {
    font-size: 22px;
}

.image-width-100-percent {
    width: 100%;
    height: auto;
    border: darkgray 1px solid;
}

.image-row-300 {
    height: 300px;
    width: 100%;
    border: darkgray 1px solid;
}

.image-row-200 {
    width: 100%;
    height: 200px;
    border: darkgray 1px solid;
}

.image-row-100 {
    width: 100px;
    height: 100px;
    border: darkgray 1px solid;
}

.star-bar img {
    height: 30px;
}

.font-big {
    font-size: 28px;
}

.white-text {
    color: white;
}

.buffers-inside {
    margin: 10px;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: calc(100% - 1px);
}

i100x100 {

}

.bottom-buffer {
    margin-bottom: 15px;
}

.top-buffer {
    margin-top: 15px;
}

.title-bar {
    background: black;
    color: white;
}

.top-bar, .top-bar ul {
    background-color: black;
    color: white;
}

.top-bar li > a {
    color: white;
}

.top-bar img {
    height: 30px;
    width: auto;
}

.title-bar img {
    height: 40px;
    width: auto;
}

.font-weight-bold {
    font-weight: bold;
}

.dark-footer {
    color: white;
    background-color: black;
}

.footer-img {
    height: 50px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
}

.login-img {
    margin: 0 auto;
    display: block;
    height: 50px;
}

.login-form {
    border: 1px lightgrey solid;
    padding: 20px;
    border-radius: 3px;
}

.icon {
    color: white;
}

input[type=text], input[type=email], input[type=password], input[type=search], input[type=tel], input[type=number], textarea, select {
    background-color: #333333;
    color: white;
    border: transparent;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=search]:focus, input[type=number]:focus, textarea:focus, select:focus {
    background-color: #404040;
    color: white;
}